/*
* @Author: anh-tuan.vu
* @Date:   2021-02-04 23:50:05
* @Last Modified by:   anh-tuan.vu
* @Last Modified time: 2021-02-06 17:26:03
*/

.has-dropcap:first-letter {
  float: left;
  font-size: 5em;
  margin: -0.3225em 0.05em -0.3245em 0;
}

h2.title {
  text-align: center;
}
